.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

#container {
    background-color: white;
    width: 15em;
    height: 24em;
    border-radius: .8em;
}

#imgContainer {
    display: flex;
    justify-content: center;
}

img {
    width: 13.3em;
    border-radius: .8em;
}

#mainContainer {
    margin: 0;
    padding: 0.8em 0.8em;
}

main p {
    font-size: 0.7em;
    text-align: center;
    font-weight: 400;
    margin-top: 1.5em;
}

main span {
    font-weight: 700;
    margin-top: 2em;
}

main {
    margin: 1.5em 1em;
    text-align: center;

}